<h2>About Us</h2>
<p>We like stuff and we'll tell you what to like, too. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>Nick Fehlinger</h3>
<div class="row">
	<div class="col-md-4"><img src='https://ca.slack-edge.com/T03JJLPSP-U5B1FU4P4-gb1487de5703-512'></div>
	<div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<h3>Hans Palacios</h3>
<div class="row">
	<div class="col-md-4"><img src='https://ca.slack-edge.com/T03JJLPSP-U5BSQAMDM-0311b9f5809d-512'></div>
	<div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<h3>Steven Velez</h3>
<div class="row">
	<div class="col-md-4"><img src='https://ca.slack-edge.com/T03JJLPSP-U5B29KYDQ-c0af82cbc988-512'></div>
	<div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<h2>Contact Us</h2>
<form method="POST" id="comments">
	<input type="text" name="name" placeholder="Name">
	<input type="email" name="email" placeholder="Email">
	<input type="text" name="subject" placeholder="Subject">
	<textarea name="comment" placeholder="Questions? Comments? Concerns?"></textarea>
	<input type="submit" name="submit">
</form>