<h2> Drop us a line</h2>
<form method="POST">
	<label for="email">Email:</label><input type="email" name="email" placeholder="ex: you@somewhere.net" />
	<label for="title">Title:</label><input type="text" name="title" placeholder="ex: Love your site"/>
	<textarea name="body" col="14" rows="8"></textarea>
	<input type="submit" value="Fire away"/>
</form>