<div class="row">
	<div class="col-md-12">
		
		<div id="gallery">
			<h2 id="featured">Weekly Picks</h2>
			<a href="/category" class="linkme"><img class="mySlides" src="images/knife.jpg"><p>Hey wazzup</p></a>
			<a href="/category" class="linkme"><img class="mySlides" src="images/whiskey-stones.jpg"><p>Hey hello</p></a>
			<a href="/category" class="linkme"><img class="mySlides" src="images/wine.jpeg"><p>Hey que paso?</p></a>
		</div>	
	</div>
</div>