<div class="row">
	<div class="col-md-12">
		
		<div id="gallery">
			<h2 id="featured">Daily Favorites</h2>
			<a href="/category" class="linkme"><img class="mySlides" src="images/knife.jpg"><p>Hey wazzup</p></a>
			<a href="/category" class="linkme"><img class="mySlides" src="images/whiskey-stones.jpg"><p>Hey hello</p></a>
			<a href="/category" class="linkme"><img class="mySlides" src="images/wine.jpeg"><p>Hey que paso?</p></a>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/knife.jpg"></a>
			<p>Hey wazzup</p>
		</div>
	</div>
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/whiskey-stones.jpg"></a>
			<p>Hey hello</p>
		</div>
	</div>
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/wine.jpeg"></a>
			<p>Hey que paso?</p>
		</div>
	</div>
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/wine.jpeg"></a>
			<p>Hey que paso?</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/knife.jpg"></a>
			<p>Hey wazzup</p>
		</div>
	</div>
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/whiskey-stones.jpg"></a>
			<p>Hey hello</p>
		</div>
	</div>
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/wine.jpeg"></a>
			<p>Hey que paso?</p>
		</div>
	</div>
	<div class="col-md-3 prodbox">
		<div class="featprod">
			<a href="/category"><img width="150px" class="featimg" src="images/wine.jpeg"></a>
			<p>Hey que paso?</p>
		</div>
	</div>
</div>