<div class="row">
	<div class="col-md-12">
		
		<div id="gallery">
			<h2 id="featured">Daily Favorites</h2>
			<a href="/product" class="linkme"><img class="mySlides" src="images/knife.jpg"><p>Hey wazzup</p></a>
			<a href="/product" class="linkme"><img class="mySlides" src="images/whiskey-stones.jpg"><p>Hey hello</p></a>
			<a href="/product" class="linkme"><img class="mySlides" src="images/wine.jpeg"><p>Hey que paso?</p></a>
		</div>	
	</div>
</div>
<div id="background-color">
	<div class="row top">
		<div class="col col-md-3 prodbox">
			<div class="featprod">
				<div class="short">
					<a href="/category"><img width="150px" class="featimg" src="images/knife.jpg"></a>
					<p>Hey wazzup</p>
					</div>
			</div>
		</div>
		<div class="col col-md-9 prodbox">
			<div class="featprod">
				<a href="/product"><img width="150px" class="featimg" src="images/whiskey-stones.jpg"></a>
				<p>Hey hello</p>
			</div>
		</div>
	</div>
	<div class="row middle">
		<div class="col col-md-9 prodbox">
			<div class="featprod">
				<a href="/product"><img width="250px" class="featimg" src="images/wine.jpeg"></a>
				<p>Hey que paso?</p>
			</div>
		</div>
		<div class="col col-md-3 prodbox">
			<div class="featprod">
				<div class="short">
					<a href="/category"><img width="250px" class="featimg" src="images/wine.jpeg"></a>
				<p>Hey que paso?</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row bottom">
		<div class="col col-md-4 prodbox">
			<div class="featprod">
				<div class="short">
					<a href="/product"><img width="250px" class="featimg" src="images/knife.jpg"></a>
				<p>Hey wazzup</p>
				</div>
			</div>
		</div>
		<div class="col col-md-4 prodbox">
			<div class="featprod">
				<div class="short">
					<a href="/product"><img width="250px" class="featimg" src="images/whiskey-stones.jpg"></a>
				<p>Hey hello</p>
				</div>
			</div>
		</div>
		<div class="col col-md-4 prodbox">
			<div class="featprod">
				<div class="short">
					<a href="/product"><img width="250px" class="featimg" src="images/wine.jpeg"></a>
				<p>Hey que paso?</p>
				</div>
			</div>
		</div>
	</div>
</div>