<div class="row">
	<div class="col-md-12">
		<div id="gallery">
			<img class="mySlides" src="images/knife.jpg">
			<img class="mySlides" src="images/whiskey-stones.jpg">
			<img class="mySlides" src="images/wine.jpeg"
		</div>	
	</div>
</div>