<div class="row"><div class="col-md-12">
<h2 class="productName"><%= @product[:name] %></h2>
</div></div>
<div class="row">
	<div class="col-md-4">
		<img class="productImage" src="<%= @product [:image] %>">
	</div>
	<div class="col-md-8">
	<p class="description"><%= @product[:description] %></p>
	</div>
	</div>
</div>