// Universal
$color-header: rgba(127,127,127,1);
$color-headings: #555;
$color-text: #333;
$color-clear: rgba(100,100,100,.0);
header{
	background-color: $color-header;
	color: #fff;
	h1{
		font-family: 'Josefin Sans';
		font-size: 40px;
	}
	nav{
		font-family: 'Play';
		font-size: 20px;
		ul{
			padding: 0;
			li{
				display: inline-block;
				padding: 20px;
				a{
					color: #fff;
					text-decoration: none;
				}
				a:hover{
					border-bottom: 1px solid #fff;
				}
				a.active{
					pointer-events: none;
					cursor: default;
					color:#ccc;
				}
			}
		}
	}
}

footer{
	background-color:#000;
	color: #fff;
	font-family: 'Quicksand';
	font-size: 14px;
	position: relative;
	p{
		position: absolute;
		top: 70%;
		color: #fff;
		right: 5%;
	}
	ul{
		padding: 0;
		list-style: none;
		li{
			padding: 5px;
			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}
}

// Nick
h2{
	font-size: 40px;
	color:	$color-header;
	font-family: 'Josefin Sans';
}
h3{
	font-size:	25px;
	color:	$color-text;
	font-family: 'Josefin Sans'
}
p{
	font-size: 16px;
	color: $color-text;
	font-family: 'Montserrat';
	margin:	0;
}
img{
	width: 100%;
}
form{
	width:	500px;
	margin: 20px auto;
	input{
		display: block;
		width: 100%;
		height: 20px;
		font-size: 16px;
		margin: 10px;
	}
	textarea{
		height: 100px;
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px;
	}
	input[name="submit"]{
		width: 100px;
		margin-left: 80%;
	}
}

// Hans
#featured {
	transform: rotate(-90deg);
	margin-top: 100px;
	color: teal;
	float: left;
	height: 30px;
}
#gallery {
	background-color: black;
	width:  700px;
	height: 300px;
	display: block;
	margin: 20px auto;
	padding: 25px 0;
}
.mySlides {
	max-height: 250px;
	width: 250px;
	float: left;
}
.linkme {
	display: none;
	text-decoration: none;
	p {
		color: white;
		float: left;
		width: 100px;
		margin: 30px;
	}
}
.featprod {
	height: 250px;
	margin-right: 3px;
	border-left: 3px solid red;
	p {
		float: right;
		padding: 10px;
		color: #000;
		width: 110px;
	}
}
.row {
	margin: 3px 3px 3px 0;
}
.prodbox {
	padding: 0;
}
.container {
	width: 95%;
}
.featimg {
	height: 250px;
	width: 250px;
	overflow: hidden;
	margin-top: 0;
}
.short {
	width: 250px;
	height: 150px;
	overflow: hidden;
	padding-bottom: 100px;
}
.top {
	background-color: white;
}
.middle {
	background-color: white;
}
.bottom {
	margin-bottom: 50px;
	background-color: white;
}
#background-color {
	padding: 1px 1px 1px 0;
	padding-bottom: 100px;
	margin-bottom: 100px;
	background: linear-gradient(90deg,orange,red);
}
// Steven