// Universal
$color-header: #7f7f7f;
$color-headings: #555;
$color-text: #333;
header{
	background-color: $color-header;
	color: #fff;
	h1{
		font-family: 'Josefin Sans';
		font-size: 40px;
	}
	nav{
		font-family: 'Play';
		font-size: 20px;
		ul{
			padding: 0;
			li{
				display: inline-block;
				padding: 20px;
				a{
					color: #fff;
					text-decoration: none;
				}
				a:hover{
					border-bottom: 1px solid #fff;
				}
				a.active{
					pointer-events: none;
					cursor: default;
					color:#ccc;
				}
			}
		}
	}
}

footer{
	background-color:#000;
	color: #fff;
	font-family: 'Quicksand';
	font-size: 14px;
	position: relative;
	p{
		position: absolute;
		top: 70%;
		right: 5%;
	}
	ul{
		padding: 0;
		list-style: none;
		li{
			padding: 5px;
			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}
}

// Nick
h2{
	font-size: 40px;
	color:	$color-header;
}
p{
	font-size: 16px;
	color: $color-text;
}
.productName{
	font-family: 'Josefin Sans';
}
.description{
	font-family: 'Montserrat';
}
.productImage{
	width: 100%;
}

// Hans
#featured {
	transform: rotate(-90deg);
	margin-top: 100px;
	color: teal;
	float: left;
	height: 30px;
}
#gallery {
	background-color: #000;
	width:  700px;
	height: 300px;
	display: block;
	margin: 20px auto;
	padding: 25px 0;
}
.mySlides {
	max-height: 250px;
	width: 250px;
	float: left;
}
.linkme {
	display: none;
	text-decoration: none;
	p {
		color: white;
		float: left;
		width: 100px;
		margin: 30px;
	}
}
.featprod {
	background-color: grey;
	width: 300px;
	height: 170px;
	margin: 10px;
	p {
		float: right;
		margin: 10px;
	}
}
.container {
	width: 90%;
}
.featimg {
	height: 150px;
	margin: 10px;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}
.w3-badge {
	height:13px;
	width:13px;
	padding:0;
}

// Steven