header {
  background-color: #7f7f7f;
  color: #fff; }
  header a h1 {
    font-family: 'Josefin Sans';
    font-size: 40px;
    color: #fff; }
  header nav {
    font-family: 'Play';
    font-size: 20px; }
    header nav ul {
      padding: 0; }
      header nav ul li {
        display: inline-block;
        padding: 20px; }
        header nav ul li a {
          color: #fff;
          text-decoration: none; }
        header nav ul li a:hover {
          border-bottom: 1px solid #fff; }
        header nav ul li a.active {
          pointer-events: none;
          cursor: default;
          color: #ccc; }

footer {
  background-color: #000;
  color: #fff;
  font-family: 'Quicksand';
  font-size: 14px;
  position: relative; }
  footer p {
    color: #fff; }
  footer .wrap {
    margin: 14px 0; }
  footer p#copywrite {
    position: absolute;
    top: 70%;
    color: #fff;
    right: 5%; }
  footer #contactBtn {
    margin: 10px 0;
    cursor: pointer;
    display: inline-block; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      padding: 5px; }
      footer ul li a {
        text-decoration: none;
        color: #fff; }

h2 {
  font-size: 40px;
  color: #7f7f7f;
  font-family: 'Josefin Sans'; }

h3 {
  font-size: 25px;
  color: #333;
  font-family: "Josefin Sans"; }

p {
  font-size: 16px;
  color: #333;
  font-family: 'Montserrat';
  margin: 0; }

img {
  width: 100%; }

#contact {
  width: 600px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #555;
  padding: 30px 50px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; }
  #contact #close {
    right: 15px;
    top: 10px;
    font-family: 'Montserrat';
    position: absolute;
    cursor: pointer; }
  #contact h3 {
    margin: 0; }
  #contact form {
    width: 500px;
    margin: 20px auto; }
    #contact form input {
      display: block;
      width: 100%;
      height: 20px;
      font-size: 16px;
      margin-top: 10px; }
    #contact form textarea {
      height: 100px;
      display: block;
      width: 100%;
      font-size: 16px;
      margin-top: 10px; }
    #contact form input[name="submit"] {
      width: 100px;
      margin-left: 80%; }

#gallery {
  background-color: black;
  width: 100%;
  height: 500px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  overflow: hidden;
  text-align: center; }
  #gallery a {
    width: 100%; }

#gallery h2 {
  transform: rotate(-90deg);
  margin-top: 210px;
  color: teal;
  height: 30px;
  width: 500px;
  font-size: 70px; }

.linkme {
  display: none;
  text-decoration: none; }
  .linkme .mySlides {
    height: 450px;
    width: auto;
    margin: 10px; }
  .linkme p {
    color: white;
    float: right;
    margin: 10px;
    font-size: 20px; }

.featprod {
  height: 250px;
  border-left: 3px solid red;
  background-color: #444;
  padding-left: 0;
  padding-right: 0; }
  .featprod p {
    float: right;
    padding: 10px;
    color: #000;
    width: 110px; }

.row {
  margin: 3px 3px 3px 0; }

.prodbox {
  padding: 0; }

.container {
  width: 100%; }

.featimg {
  height: 250px;
  width: auto;
  overflow: hidden;
  margin-top: 0; }

.short {
  width: 100%;
  overflow: hidden; }
  .short img {
    width: 100%; }

.long img {
  width: auto; }

.mid img {
  width: auto; }

.top {
  background-color: white; }

.middle {
  background-color: white; }

.bottom {
  background-color: white; }

#background-color {
  padding: 1px 1px 1px 0;
  margin-bottom: 100px;
  background: linear-gradient(90deg, orange, red); }

.catArt {
  float: left;
  display: inline-block; }

.catNav {
  display: inline; }

.prodName {
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px; }

.catDivs {
  width: 300px;
  height: 200px;
  background-size: cover;
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 15px; }

.catUL {
  width: 200px;
  list-style: none;
  display: inline-block; }

.catUL li {
  float: left;
  clear: both;
  font-size: 20px;
  margin: 15px;
  font-family: "Play"; }

a {
  text-decoration: none;
  color: #333; }
  a a:hover {
    border-bottom: 2px solid #333; }

/*# sourceMappingURL=main.css.map */
