// Universal
$color-header: rgba(127,127,127,1);
$color-headings: #555;
$color-text: #333;
header{
	background-color: $color-header;
	color: #fff;
	h1{
		font-family: 'Josefin Sans';
		font-size: 40px;
	}
	nav{
		font-family: 'Play';
		font-size: 20px;
		ul{
			padding: 0;
			li{
				display: inline-block;
				padding: 20px;
				a{
					color: #fff;
					text-decoration: none;
				}
				a:hover{
					border-bottom: 1px solid #fff;
				}
				a.active{
					pointer-events: none;
					cursor: default;
					color:#ccc;
				}
			}
		}
	}
}

footer{
	background-color:#000;
	color: #fff;
	font-family: 'Quicksand';
	font-size: 14px;
	position: relative;
	p{
		color: #fff;
	}
	.wrap{
		margin: 14px 0;
	}
	p#copywrite{
		position: absolute;
		top: 70%;
		color: #fff;
		right: 5%;
	}
	#contactBtn{
		margin: 10px 0;
		cursor: pointer;
		display: inline-block;
	}
	ul{
		padding: 0;
		list-style: none;
		li{
			padding: 5px;
			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}
}

// Nick
h2{
	font-size: 40px;
	color:	$color-header;
	font-family: 'Josefin Sans';
}
h3{
	font-size:	25px;
	color:	$color-text;
	font-family: 'Josefin Sans'
}
p{
	font-size: 16px;
	color: $color-text;
	font-family: 'Montserrat';
	margin:	0;
}
img{
	width: 100%;
}
#contact{
	width: 600px;
	height: 350px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid $color-headings;
	padding: 30px 50px;
	border-radius: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	#close{
		right: 15px;
		top: 10px;
		font-family: 'Montserrat';
		position: absolute;
		cursor: pointer;
	}
	h3{
		margin: 0;
	}
	form{
		width:	500px;
		margin: 20px auto;
		input{
			display: block;
			width: 100%;
			height: 20px;
			font-size: 16px;
			margin-top: 10px;
		}
		textarea{
			height: 100px;
			display: block;
			width: 100%;
			font-size: 16px;
			margin-top: 10px;
		}
		input[name="submit"]{
			width: 100px;
			margin-left: 80%;
		}
	}
}


// Hans
#featured {
	transform: rotate(-90deg);
	margin-top: 100px;
	color: teal;
	float: left;
	height: 30px;
}
#gallery {
	background: linear-gradient(black, rgba(100,100,100,.0));
	width:  700px;
	height: 300px;
	display: block;
	margin: 20px auto;
	padding: 25px 0;
}
.mySlides {
	max-height: 250px;
	width: 250px;
	float: left;
}
.linkme {
	display: none;
	text-decoration: none;
	p {
		color: white;
		float: left;
		width: 100px;
		margin: 30px;
	}
}
.featprod {
	background: linear-gradient($color-header, rgba(100,100,100,.0));
	border-radius: 1%;
	width: 300px;
	height: 170px;
	margin: 10px;
	p {
		float: right;
		margin: 10px;
		color: white;
		width: 110px;
	}
}
.container {
	width: 95%;
}
.featimg {
	height: 150px;
	width: 150px;
	margin: 10px;
}
// Steven